body {
    text-align: center;
}

#container {
    margin: auto;
    display: grid;
    width: 400px;
    height: 400px;
    border: 1px solid black;
    /*grid-template-columns: repeat(16, 25px [col-start]);*/
}

.btn {
    margin: 5px;
}

.col {
    background-color: white;
}

.colored {
    background-color: black;
}