body {
    text-align: center;
    background-color: #FFFFE3;
}

footer {
    margin: auto;
    width: 400px;
}

#container {
    margin: auto;
    display: grid;
    width: 400px;
    height: 400px;
}

.col {
    background-color: white;
}

.grid {
    border-right: 0.1px solid #dee2e6;
    border-bottom: 0.1px solid #dee2e6;
}

.btn {
    margin: 5px;
    border-radius: 9999px;
}

.btn-primary {
    color: black;
    border: #BCE6C2;
    background-color: #BCE6C2;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    color: black;
    border: #97CCB8;
    background-color: #97CCB8;
}

#colorPicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;

}

#colorPicker::-moz-color-swatch {
    border-radius: 9999px;
    border: none;
}

#colorPicker::-webkit-color-swatch {
    border-radius: 9999px;
    border: none;
}